body{
    background-color: black;
}
.container{
    background-color: rgb(43, 36, 36);
}

.form {
    width: 80%;
    margin: 60px auto 20px;
    align-items: center;
    
    color: blue;
    display: flex;
    flex-direction: column;
    


}
.form span {
    font-size: 20px;
    margin-top:20px;
}
.form input {
    margin-top: 30px;
}
.form button {
    margin: 30px 0;
    color: blue;
    background-color: black;

}
.validacion {
    width: 80%;
    color:red;
    margin: auto;
}
.lista {
    width: 80%;
    margin: 50px auto 0 ;
    
}
.tarea {
    border: 1px black solid;
    height:fit-content;
    background-color: thistle;
    padding: 2%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    color: blue;
    
}